// Body
$body-bg: #FFFCFA;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1;

// colors
$bg-white: #FFFCFA;
$greenlight: #A8C12E;
$yellow:#E5B354;
$greendark: #697D3E;
$brown: #28180B;
$blacklight: #666666;


#greenlightcolor {
    color: $greenlight;
}

.greenlightcolor {
    background-color: $greenlight;
}

#greendarkcolor {
    color: $greendark;
}

#browncolor {
    color: $brown;
}

#blacklightcolor {
    color: $blacklight;
}

#picradius {
    border-radius: 10px;
}

#shadowdetail {
    color: $blacklight;
    border-radius: 10px;
    box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.20);
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
    border-style: none; 
    text-decoration: none;
    box-sizing: 0;
    -webkit-box-sizing: 0;
    border-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-weight: 400 !important;
}

svg {
    width: inherit;
    height: inherit;
}

a {
    margin: 0;
    padding:0;
    border-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0; 
    border-style: none; 
    text-decoration: none;
}


.card-route {
    -webkit-transition:all .4s ease; /* Safari y Chrome */
    -moz-transition:all .4s ease; /* Firefox */
    -o-transition:all .4s ease; /* IE 4 */
    -ms-transition:all .4s ease; /* Opera */
    color: $blacklight;
    border-radius: 10px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.card-route:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}


#login-name {
    color: #000000;
}


#navbar2 {
    background-color: #FFFCFA;
}


#socialmediabar {
    background-color: $greenlight;
}


#save-btn {
    font-weight: bold;
    text-align: center;
    background-color: $greenlight;
    color: $bg-white;
}

#footer {
    color: $bg-white;
    background-color: $greenlight;
    font-size: 1.3em;
    font-weight: bold;
}

.heart {
    background-color: $greendark;
}



// #login-btn {
//     font-weight: bold;
//     text-align: center;
//     background-color: $greenlight;
//     color: $bg-white;
//     font-size: 0,7rem;
// }

// #register-btn {
//     font-weight: bold;
//     text-align: center;
//     background-color: $greenlight;
//     color: $bg-white;
// }